body
    include ../menumodule/menu.pug
    include ../imageselectmodule/imageselect.pug
    include ../filtersettingsmodule/filtersettings.pug
    #ui-elements
        include ../sourceimagemodule/sourceimage.pug
        include ../outputimagemodule/outputimage.pug