//- filtersettings structure
#filtersettings.hidden
    .line
        label blur (px)
        input#blur-input(type="number")
    .line
        label contrast (%)
        input#contrast-input(type="number")
    .line
        label saturate (%)
        input#saturate-input(type="number")
    .line
        label grayscale
        input#grayscale-input(type="checkbox")
    .line
        label invert
        input#invert-input(type="checkbox")
    .line
        #reset-button reset
