//- menu structure
#menu
    svg#view-all-icon
        use(href="#svg-view-all-icon")
    .separator
    svg#image-icon
        use(href="#svg-image-icon")
    svg#cam-icon.active
        use(href="#svg-cam-icon")
    svg#context-settings-icon
        use(href="#svg-settings-icon")
    .separator
    svg#output-icon
        use(href="#svg-output-icon")
    svg#pipeline-settings-icon
        use(href="#svg-settings-icon")
    .separator
    svg#result-icon
        use(href="#svg-result-icon")
    svg#result-settings-icon.active
        use(href="#svg-settings-icon")
