#indexcontent
    h1 Hello h1
    h1 Hello h1
    h1 Hello h1
    h2 Hello h2
    p Hello p
    ul
        li list item 1
        li list item 2
    #innercontent
        h1 Hello h1
        h1 Hello h1
        h1 Hello h1
        h2 Hello h2
        p Hello p
        ul
            li list item 1
            li list item 2

    //- include ../imageselectmodule/imageselect.pug
    //- include ../filtersettingsmodule/filtersettings.pug
    //- #ui-elements
    //-     include ../sourceimagemodule/sourceimage.pug
    //-     include ../outputimagemodule/outputimage.pug